<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Check my Aristo out!</title>
</head>
<body>

<section class='container'>
          <hgroup>
            <h1>Welcome to Chris' Awesomest (and First) Node.js application on OpenShift</h1>
			<p>You should check out <a href="http://detroitaristo.com" target="new">My 1991 Toyota Aristo!</a> on <a href="https://goo.gl/photos/4BptF48g5Q3b5Z1u6">Google Photos</a>
            </p>
            <a href="http://detroitaristo.com" target="new"><img src="https://lh3.googleusercontent.com/9OxsDvt3VnPSR8hZeBDNf4v5LoubrmJi9RpfpvQMz5ZQ5USkRlYE-hQB251wNUL0RhG632GQQFyi5w8Pl6R65vGEBLbyYqLRv6h08LnW2isbdEYFkGMPRUaQ5MS36qtIHTGJe2uCZAaSnmXTRbr4GyfKDjN1ITj9BVcN-zSWnLRnz_iVh5entgRKtsqsvvte3zFOTDeVELVzcs_BzgdNs-L7h68zS4JJkR3W0Td0L6AGCFufexsMadAbzkMd4DmtfwswMXqTyaBs0d3TX-VOdKb6wNESoxa9HSPnLgpTQzEG4W8nQSJ-UmxwD74r0DuG4eG3YtQlDk_3NczyDcfSoyGS1E7599K2YaIEt7V7OTlMHLWL21fbw4HVCjDqNpDJ2u72hfai-ISzBxmuPXhj8JSvsF-XbICXND97f5zaugmXvOnlOcD5E7LLQLmei-RBv_U3tRvU5VRsQ_hPXpXNjCsQIi01ZwTFL9QryPuLIjE8iX-ohyACfDEwQqEc0nuG7viUae7iZ9JNiXNAez77zKKG73NbomDRPad2iS6hcZPYvtqw96BkzEZOvk3Ex_APxXQrQp3Fe5MsLhhmqvFuo14FE9UosyXDA2skZawJ-BS8fTJFw2seC0p1ZTxjpXGJg8uo0pNDTl1JZmF9OqSS6Jr4CVUT4H7sJ3MijOwakQ=w1308-h981-no"></a>
			
</section>
</body>
</html>
