<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Check my Aristo out!</title>
</head>
<body>

<section class='container'>
          <hgroup>
            <h1>Welcome to Chris' Awesomest (and First) Node.js application on OpenShift</h1>
			You should check out <a href="http://detroitaristo.com>">My 1991 Toyota Aristo!</a>
        <footer>
          <div class="logo"><a href="https://www.openshift.com/"></a>
        </footer>
</section>
</body>
</html>
